<%= render "shared/header" %>
<div class="main_wrapper">
<div class="side_ber">
    <%= render "side_bar" %>
</div>




<div class="main">
<div class="main-container">
</div>

<div class="new-posts">PICK UP POST</div>
  <div class="image-list">
    <% @post.each do |post|%> 
      <%= link_to post_path(post.id) do %>
        <%= image_tag post.image.variant(resize: '400x319',gravity: "center", crop: "300x250+0+0"), class: "post-image" %>
      <% end %>
      <%# <%= post.user.nickname%>
    <% end %>
  </div>
</div>
</div>

<%= render "shared/footer" %>