<%= render "shared/header" %>

<%# 商品の概要 %>
<div class="item-show">
  <div class="item-box">

        <h2 class="name">
      <%= "#{@post.user.nickname}'s post!" %>
        </h2>

    <div class="item-img-content">
      <%= image_tag @post.image ,class:"item-box-img" %>
    </div>

    <% if current_user == @post.user%>
      <%= link_to "編集", edit_post_path, method: :get, class: "item-red-btn" %>
      <%= link_to "削除", post_path, method: :delete, class:"item-destroy" %>
    <% end %>

    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">投稿者</th>
          <td class="detail-value"><%= @post.user.nickname %></td>
        </tr>
        <tr>
          <th class="detail-item">日付</th>
          <td class="detail-value"><%= "#{@post.month.name}月""#{@post.day.name}日" %></td>
        </tr>
        <tr>
          <th class="detail-item">VS</th>
          <td class="detail-value"><%= "#{@post.team.name}戦" %></td>
        </tr>
        <tr>
          <th class="detail-item">一言</th>
          <td class="detail-value"><%= @post.content%></td>
        </tr>
      </tbody>
    </table>
    <div class="option">
      <div class="favorite-btn">
        <%= image_tag "star.png" ,class:"favorite-star-icon" ,width:"20",height:"20"%>
        <span>お気に入り 0</span>
      </div>
    </div>
  </div>
  <%# /商品の概要 %>

 
  <%# コメント機能の実装 %>
  
 <div class="comment-box"> 
   <h4>＜コメント一覧＞</h4>

  <div class="comments">
  <div id="comments">
    <% @post.comments.each do |comment| %>
      <div class="comment">
        <p class="user-info"><%= comment.user.nickname %>： </p>
        <p><%= comment.text%></p>
        <p><%= comment.created_at.to_s(:datetime_jp)%></p>
      </div>
    <% end %>
  </div>
  </div>
  <% if user_signed_in? %>
    <%= form_with model: [@post, @comment], id: "comment-form" do |f| %>
      <%# <%= render 'shared/error_messages', model: f.object %>
      <%= f.text_area :text , class: "comment-text"%>
      <div class="comment-index">
      <%= f.submit "コメントをする", class: "comment-btn" %>
      </div>
    <% end %>
  <% end %>
 </div> 
  <%# コメント機能の実装 %>
  <%# 詳細ページで表示されている商品のカテゴリー名を表示しましょう %>
  <a href="#" class="another-item"><%= @post.user.nickname %>の投稿をもっと見る</a>
  <%# //詳細ページで表示されている商品のカテゴリー名を表示しましょう %>
</div>

<%= render "shared/footer" %>
